<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid back-ground-theme-primary">
      <a class="navbar-brand white-text mt-2 mb-2" href="#">Blog App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active white-text mt-2 mb-2" aria-current="page" [routerLink]="['/admin/categories']">Categories</a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn nav-control" type="button">Admin</button>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control nav-control custom-search" type="search" placeholder="Search for blog or Category..." aria-label="Search"/>
          <ng-container *ngIf="user$ | async as user; else signInBtn">
            <span class="white-text me-2">{{ user.email }}</span>
            <button class="btn nav-control" type="button" (click)="onLogout()">Sign Out</button>
          </ng-container>
          <ng-template #signInBtn>
            <button class="btn nav-control" type="button" [routerLink]="['/login']">Sign In</button>
          </ng-template>
        </form>
      </div>
    </div>
  </nav>